@font-face {
  font-family: "JetBrainsMonoNL-Regular";
  src: url("fonts/JetBrainsMonoNL-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoMono-Regular";
  src: url("fonts/RobotoMono-Regular.ttf") format("truetype")
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden !important;
  color : white;
  background-image: url("background/bac.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#banner {
  font-size: 90px;
  text-align: center;
  color: white;
  font-family: "RobotoMono-Regular";
}
.container {
  padding-top: 10vw;
  height: 100%;
}
.btnc {
  display: flex;
  flex-direction: row-reverse;
}
#nextbutton {
  background-color: #1584bc;
}
/* .banner{
  
} */
